* {
  box-sizing: border-box;
}

body {
  background-color: darkgrey;
  font-family: Arial;
}

h1 {
  color: white;
  font-size: 23px;
  text-align: center;
}
p {
  background-color: #246aae;
  color: orange;
  font-size: 16px;
  text-align: center;
}

.title {
  color: orange;
}

table,
th,
td {
  border: 2px solid white;
  color: orange;
  text-align: center;
}

img {
  float: left;
  margin-right: 15px;
  max-width: 200px;
}

h3 {
  color: white;
  font-size: 16px;
}

.form {
  background-color: white;
  border-radius: 20px;
  margin: 0 auto;
  padding: 20px;
  width: 400px;
}

.form-input,
.form-comment {
  border: 1px solid #ddd;
  border-radius: 5px;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  outline: 0;
  padding: 10px 20px;
  width: 100%;
}

.form-input:focus,
.form-comment:focus {
  border: 2px dashed #bbb;
}

.btn {
  background-color: green;
  border: white;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 25px;
  margin-bottom: 20px;
  width: 100%;
}

.btn:hover {
  background-color: #025c02;
}
